@import url('https://cdnfonts.com');
header {
    font-family: 'Magical Childhood', sans-serif;
    text-align: center;
    color: brown;
    background-color: aliceblue;
    font-size: medium;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 20px;
    margin: 20px;
    border: 1px solid brown;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main {
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    background-color: transparent;
    font-size: medium;
    
    display: block;
    
    padding: 20px;
    margin: 20px;
    border: 1px solid #BB2222;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#main-navigation {
    background-color: #f8f8f8;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: medium;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}